@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html {
    font-family: 'Bitter', serif;
    font-size: 16pt;
}

body {
    margin: 1em;
}

h1 {
    font-size: 1.3rem;
}

h2 {
    font-size: 1.2rem;
}
