@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    /* Gruvbox light, soft by Dawid Kurek (dawikur@gmail.com), morhetz (https://github.com/morhetz/gruvbox) */

    --base00: #f2e5bc;
    --base01: #ebdbb2;
    --base02: #d5c4a1;
    --base03: #bdae93;
    --base04: #665c54;
    --base05: #504945;
    --base06: #3c3836;
    --base07: #282828;
    --base08: #9d0006;
    --base09: #af3a03;
    --base0a: #b57614;
    --base0b: #79740e;
    --base0c: #427b58;
    --base0d: #076678;
    --base0e: #8f3f71;
    --base0f: #d65d0e;

    --main-bg-color: var(--base00);
    --main-fg-color: var(--base05);

    --deemph-fg-color: var(--base04);

    --pre-bg-color: var(--base01);
    --pre-fg-color: var(--base06);

    /* Everything outside a content bubble */
    --border-bg-color:var(--base04);
    --border-fg-color:var(--base01);
    --border-accent-bg-color:var(--base06);
    --border-accent-fg-color:var(--base03);

    /* Accent variants of the main colours */
    --accent-bg-color:var(--base02);
    --accent-fg-color:var(--base03);

    --a-main-fg-color:var(--base0d);
    --a-visited-fg-color:var(--base0e);

    --main-border-radius: 0.5rem;
}

html {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 18px;

    margin: 0;

    background-color: var(--border-bg-color);
    color: var(--border-fg-color);
}

body {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 0;
}

header {
    display: inline-block;
    flex: 1;

    background-color: var(--border-accent-bg-color);
    border-radius: var(--main-border-radius);

    margin: 1rem;
    padding: 1rem;
    text-align: center;
}
header>img#logo {
    max-width: 15rem;
    width: 80%;
}
/* Main page title */
header>h1 {
    margin: 0;
    padding-bottom: 0;
}
header>h1::before, header>h1::after {
    content: "*";
    color: var(--border-accent-fg-color);
}
/* Subtitle */
header>p {
    background: none;
    color: var(--border-accent-fg-color);
    font-size: 1rem;
    font-style: italic;
    margin: 0;
}

main {
    margin: 1rem;
    flex: 3;

    background-color: var(--main-bg-color);
    color: var(--main-fg-color);

    border: 0.5rem solid var(--accent-bg-color);
    border-radius: var(--main-border-radius);
}

p {
    margin: 1rem;
}

/* References to GitHub locations for projects */
span.coderef {
    float: right;
    font-size: 0.9rem;
    color: var(--deemph-fg-color);
}
span.coderef::before, span.coderef::after {
    color: var(--accent-fg-color);
}
span.coderef::before {
    content: "[";
}
span.coderef::after {
    content: "]";
}

dl, pre {
    /* So as to be flush with p */
    margin-left: 1rem;
    margin-right: 1rem;
}

dt {
    clear: both;
    font-style: italic;
}
dt::after {
    color: var(--accent-fg-color);
    content: " >>";
}

ul {
    list-style-type: square;
}

pre {
    background-color: var(--pre-bg-color);
    color: var(--pre-fg-color);
    font-family: 'IBM Plex Mono', monospace;
    font-size: 0.9rem;
    padding: 1rem;
}

abbr {
    text-decoration-line:underline;
    text-decoration-style: dotted;
}

h1, h2 {
    font-weight: normal;
}

h1 {
    font-size: 1.3rem;
}

h2 {
    font-size: 1.2rem;
    background-color: var(--accent-bg-color);
    padding: 0.5rem;
    margin: 0;
}
h2::before {
    color: var(--main-bg-color);
    content:"# ";
}

a:link {
    color: var(--a-main-fg-color);
}
a:visited {
    color: var(--a-visited-fg-color);
}

section#what-is>h2 {
    /* We'd like this to appear in the outline etc., but not on screen. */
    display: none;
}
